/*
IMPLEMENTAR ESTO PRÓXIMO LAB
http://csswizardry.com/2011/02/creating-a-pure-css-dropdown-menu/
*/

*{
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
    box-sizing: border-box;    
    }

body{
    position: relative;
    background-color: aliceblue;
    color: #555555;
}

#watermark1{
    position: fixed;
    left: 10px;
    top: 3px;
    font-family: sans-serif;
    font-size: 2em;
    opacity: .5;
}

#watermark2{
    position: fixed;
    right: 10px;
    top: 3px;
    font-family: sans-serif;
    font-size: 2em;
    opacity: .5;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    font-size: 1.5em;
    font-weight: bolder;
}

nav{
    display: flex;
    align-items: center;
    height: 25px;
}

nav a{
    width: auto;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    font-size: 1.15em;
}

nav a:hover{
    background-color: darkgrey;
    color:aliceblue;
}

section{
    display: flex;
    padding: 10px;
}

section aside{
    font-size: .85em;
    display: flex;
    min-width: 80px;
}

section aside ul{
    padding-right: 10px;
}

section aside ul li{
    padding-top: 3px;
    padding-bottom: 3px;
}

section aside ul li:hover{
    text-decoration: underline;
}

article{
    position: relative;
    font-size: .85em;
    text-align: justify;
    min-width: 600px;
}

#medidor{
    width: 100px;
}

article p{
    padding-bottom: 5px;
}

article ul li{
    text-indent: 20px;
    padding-bottom: 5px;
}

form{
    position: absolute;
    padding: 15px;
    background-color: floralwhite;
    box-shadow: 0px 2px 4px -2px #cccccc;
    border: 2px solid #cccccc;
    height: auto;
    width: 300px;
}

textarea{
    display: block;
    width: 100%;
    border: 2px solid #cccccc;
    padding-left: 6px;
    font-size: 1.2em;
    letter-spacing: 3px;
    margin-top: 5px;
}

#help{
    position: absolute;
    display: flex;
    width: 290px;
    height: auto;
    right: 0px;
    padding: 5px;
}

input{
    display: block;
    height: 25px;
    width: 100%;
    border: 2px solid #cccccc;
    padding-left: 6px;
    font-size: 1.2em;
    letter-spacing: 3px;
}

ul.helper{
    display: block;
    font-size: .8em;
    line-height: 10px;
    color: crimson;
}

button{
    border: 3px solid #cccccc;
    background: white;
    display: block;
    box-shadow: 0px 2px 4px -2px #cccccc;
    font-size: 1em;
    margin-top: 5px;
}

button:hover{
    border: 3px solid #cccccc;
    background: #cccccc;
    display: block;
    box-shadow: 0px 2px 4px -2px #cccccc;
    font-size: 1em;
}

h1{
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 20px;
    border-bottom: solid 3px black;
}

.item{
    position: relative;
    display: inline-table;
    margin-left: 2px;
    width: 190px;
    min-height: 340px;
    text-indent: 0px;
    padding: 5px;
    border: 2px solid #cccccc;
    background-color: whitesmoke;
}

.title{
    position: relative;
    top: 0px;
    width: 180px;
    height: 30px;
    text-align: center;
    margin-top: auto;
    margin-bottom: 5px;
}

.image{
    position: relative;
    display: block;
    margin-bottom: 5px;
    max-width: 180px;
    max-height: 200px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

.description{    
    position: absolute;
    display: block;
    width: 180px;
    height: 50px;
    margin-bottom: 5px;
    text-align: center;
    bottom: 30px;
}

.quantity{
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 25px;
    margin-bottom: 5px;
    left: 5px;
    line-height: 25px;
    bottom: 0px;
}

.entry{
    position: absolute;
    display: inline-block;
    width: 110px;
    height: 25px;
    right: 5px;
    font-size: .8em;
    text-align: center;
    bottom: 5px;
}

#total{
    position: relative;
    margin-top: 10px;
    min-width: 600px;
    min-height: 30px;
    text-indent: 0px;
    text-align: center;
    font-size: 1.2em;
    line-height: 25px;
}

#start{
    float: left;
    width: 250px;
    height: 250px;
    margin-right: 250px;
    padding: 10px;
    border: 1px solid #cccccc;
    cursor: move;
}

#end{
    float: left;
    width: 250px;
    height: 250px;
    padding: 10px;
    border: 1px solid #cccccc;
    cursor: move;
}

footer{
    position: fixed;
    z-index: -1;
    display: block;
    bottom: 0px;
    padding: 10px;
    font-size: .75em;
    color: black;
}